* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}

h1{
    font-size: 80px;
    overflow:hidden;
}

h1 span{
    display: inline-block;
}
