* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}

.main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cursor {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: fixed;
    font-size: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 9;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image img {
    height: 50vh;
    width: 50vw;
    background-color: red;
    object-fit: cover;
}

.overlay{
    background-color: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 10;
}